* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 50px;
  background-color: #000000;
  color: #DEDEDE;
}
.header {
  display: inline;
}
h1 {
  display: block;
  width: 33%;
  position: absolute;
  top: 175px;
  left: 75px;
  z-index: 1;
  font-size: 50px;
  color: #DEDEDE;
}
div > img {
  float: left;
  width: 70%;
  height: 250px;
}
#img2 {
  float: right;
  width: 30%;
  height: 250px;
}
.nav {
  /*background-color: #003817;*/
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  padding: 10px 30px 10px 0px;
  font-size: 20px;
}
li:first-child {
  padding-left: 20px;
}
a {
  text-decoration: none;
  color: #DEDEDE;
}
a:visited {
  text-decoration: none;
}
a:hover {
  color: orange;
}
h2 {
  display: inline;
}
h3 {
  display: block;
  text-align: center;
}
p {
  clear: both;
}
.content {
  margin-top: 40px;
}
.left {
  float: left;
  padding: 10px;
  width: 25%;
}
.right {
  float: right;
  padding: 10px;
  width:75%;
}
.footer {
  clear: both;
  margin-top: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#widget {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 10%;
  margin: 10px;
}